// Table
// basic table styles
// =================================================================================

/* 	STANDARD TABLE
	----------------- */
table {
	max-width: 100%;
	width: 100%;

  caption {
    font-style: italic;
  }
}

table, 
td { 
  border: 1px solid $borderColor;
  border-collapse: collapse;
  margin: rhythm() 0;
  padding: rhythm(.2) rhythm(.8);
}

th { 
	background-color: $borderColor;
  padding: rhythm(.2) rhythm(.8);
  font-size: 0.875em;
	text-transform: uppercase;
	text-align: left;
  color: $blackLighter;
}

/* 	STRIPED TABLE
	----------------- */
table.striped {
	tr:nth-child(even) {
		background-color: $whiteDark;
	}
}