// Menu style
// Sample menu style
// =================================================================================

/*
 * Menu style
 */
.main-navigation {
  .num {
    display:block;
    font-family: adventLight1, Arial, Helvetica, sans-serif;
    font-size:  0.813em;
  }
}